<%- include('partials/header') -%>

<div class="compose-section">
    <h1>Compose</h1>

    <form action="/compose" method="post" class="form-floating" enctype="multipart/form-data">
        <div class="form-floating">
            <input type="text" class="form-control" id="title" placeholder="name@example.com" name="postTitle" required>
            <label for="title">Title</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="subtitle" placeholder="name@example.com" name="postSubtitle" required>
            <label for="subtitle">Subtitle</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="postBody" required></textarea>
            <label for="floatingTextarea2">Content</label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Select an Image for this post</label>
            <input class="form-control" type="file" id="formFile" name="postImg" accept="png, jpeg, jpg, .svg">
        </div>
        <button class="btn btn-lg btn-outline-dark compose-btn" type="submit">Publish</button>
    </form>
</div>

<%- include('partials/footer') -%>